.titulo {
    display: flex;
    flex-direction: column;
    margin-left:15%;

}

.contenedor-personas {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
}

label {
    margin-bottom: 5px;
}

.boton img {
    width: 100%;
}

.boton img {
    margin-bottom: 0px;
    margin-top: 0px;
}

.botonDentro {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input {
    margin-bottom: 15px;
}

input[type="text"] {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
}

.imagen {
    width: 5%;
}

.imagen2 {
    width: 10.8%;
    height: 5%;
    padding-top: 1%;
    padding-left: 15%;
}

.mas {
    width: 12.2% !important;
}

.bloque {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-left: 15%;
    gap: 15px;
    margin-top: 1%;
}


.precio {
    display: flex;
    align-items: center;
    background-color: black;
    gap: 40px;
    width: 5.5%;
    margin-left: 15%;
    margin-top: 20px;
}

.precio p {
    color: white;
    font-size: 15px;
    padding: 0px 10px;
    margin-top: 10px;

}

.precio .boton {
    border-radius: 12px;
    background-color: rgb(255, 255, 9);
    padding: 0px 50px;
    cursor: pointer;
    font-size: 15px;
}

.boton:hover {
    background-color: #ff9900;
}

footer {
    padding-top: 85px;
}