header nav .Logo img {
    display: flex;
    max-width: 100px;
    height: 60px;
    padding-bottom: 10px;
}

.curso-detalle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.curso-imagen img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 10px;
}

.curso-info {
    flex: 1;
    margin-left: 10px;
    padding: 10px;
    max-width: 70%;
}

.docente-detalle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.docente-imagen img {
    width: 100%;
    max-width: 150px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.docente-info {
    flex: 1;
    margin-left: 10px;
    padding: 10px;
}

.clases-detalle {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 30px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.clase {
    flex: 1 1 45%;
    margin: 10px;
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 5px;
}

.clase h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.clase ul {
    list-style-type: none;
    padding: 0;
}

.clase li {
    background-color: white;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}

.detalle-cursos {
    margin-bottom: 30px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.detalle-cursos h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center;
}

.detalle-cursos-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.curso-relacionado {
    flex: 1 1 30%;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.python-imagen img, .php-imagen img, .javascript-imagen img, .sql-imagen img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

@media screen and (min-width: 20em) and (max-width: 48em) {
    .curso-detalle, .docente-detalle, .detalle-cursos {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .clases-detalle {
        flex-direction: column;
    }

    .curso-imagen img, .docente-imagen img {
        width: 100%;
        max-width: 12.5em;
    }

    .curso-info, .docente-info {
        margin-left: 0.6em;
        padding: 0.6em;
        max-width: 65%;
    }

    .clase {
        flex: 1 1 45%;
    }

    .detalle-cursos-list {
        flex-wrap: wrap;
    }

    .curso-relacionado {
        flex: 1 1 48%;
        margin: 0.6em;
    }
}
