header nav .Logo img {
    display: flex;
    max-width: 100px;
    height: 60px;
    padding-bottom: 10px;
}

.curso-detalle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.curso-imagen img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 10px;
}

.curso-info {
    flex: 1;
    margin-left: 10px;
    padding: 10px;
    max-width: 70%;
}

.docente-detalle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.docente-imagen img {
    width: 100%;
    max-width: 150px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.docente-info {
    flex: 1;
    margin-left: 10px;
    padding: 10px;
}

.unidad {
    border: 1px solid grey;
    padding: 10px;
    background-color: #f0f0f0;
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
}

.unidades h3{
    text-align: center;
    margin: 20px auto;
}

summary {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    list-style: none;
}

summary::after {
    content: "\25B6";
    font-size: 16px;
}

details[open] summary::after {
    content: "\25BC";
}

.unidad li {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.duracion {
    margin-left: 10px;
}

.checkbox-container input[type="checkbox"] {
    margin-left: 10px;
}

.detalle-cursos {
    margin-bottom: 30px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.detalle-cursos h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center;
}

.detalle-cursos-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.curso-relacionado {
    flex: 1 1 30%;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}

.python-imagen img, .php-imagen img, .javascript-imagen img, .sql-imagen img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

@media screen and (min-width: 20em) and (max-width: 48em) {
    .curso-detalle, .docente-detalle, .detalle-cursos {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }

    .curso-imagen img, .docente-imagen img {
        width: 100%;
        max-width: 12.5em;
    }

    .curso-info, .docente-info {
        margin-left: 0.6em;
        padding: 0.6em;
        max-width: 65%;
    }

    .detalle-cursos-list {
        flex-wrap: wrap;
    }

    .curso-relacionado {
        flex: 1 1 48%;
        margin: 0.6em;
    }
}
