.main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;

}

.main .vista {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 21em;
    width: 23em;
    background-image: url(../assets/fondosCard/fondo2.jpg);
    background-size: 23em 21em;
}

.main .vista .vista__precio {
    display: flex;
    align-self: flex-end;
    height: 2em;
    width: 5em;
    background-color: rgb(10, 10, 10);
}

.main .vista .vista__precio .vista__precio--texto {
    color: rgb(255, 255, 255);
    margin: 0.5em;
}

.main .vista .vista__nombre--destinatario {
    margin: 4em;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.main .texto-referencia {
    text-align: center;
    width: 22em;
    padding: 1em;
}

.main .formulario {
    display: flex;
    flex-direction: column;
}

.main .formulario .formulario__colores {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.main .formulario .formulario__colores .formulario__colores--color1 {
    background-color: black;
    height: 2em;
    width: 2em;
    border-radius: 50%;
}

.main .formulario .formulario__colores .formulario__colores--color2 {
    background-color: rgb(146, 40, 146);
    height: 2em;
    width: 2em;
    border-radius: 50%;
}

.main .formulario .formulario__colores .formulario__colores--color3 {
    background-color: rgb(21, 101, 21);
    height: 2em;
    width: 2em;
    border-radius: 50%;
}

.main .formulario .formulario__colores .formulario__colores--color4 {
    background-color: rgb(4, 56, 223);
    height: 2em;
    width: 2em;
    border-radius: 50%;
}

.main .formulario .formulario__colores .formulario__colores--color5 {
    background-color: rgb(114, 111, 111);
    height: 2em;
    width: 2em;
    border-radius: 50%;
}

.main .formulario .seleccion-colores {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.main .formulario .tamanio-fuente {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 1em;
    justify-items: center;

}
.main .formulario .tamanio-fuente .tamanio-fuente__opcion1 {
    font-size: 16px;
    color: black;
}
.main .formulario .tamanio-fuente .tamanio-fuente__opcion2 {
    font-size: 18px;
    color: black
}
.main .formulario .tamanio-fuente .tamanio-fuente__opcion3 {
    font-size: 20px;
    color: black
}
.main .formulario .tamanio-fuente .tamanio-fuente__opcion4 {
    font-size: 22px;
    color: black
}
.main .formulario .tamanio-fuente .tamanio-fuente__opcion5 {
    font-size: 24px;
    color: black
}

.main .formulario .formulario__ubicacion {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.main .formulario .formulario__ubicacion .formulario__ubicacion--ubicacion1,
.formulario__ubicacion--ubicacion2,
.formulario__ubicacion--ubicacion3 {
    width: 2.5em;
    height: 2em;
}

.main .formulario .formulario__fondo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.main .formulario .formulario__fondo--fondo1,
.formulario__fondo--fondo2,
.formulario__fondo--fondo3,
.formulario__fondo--fondo4 {
    width: 2.5em;
    height: 2.5em;
}

.main .formulario .boton-vinculo {
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 20em) and (max-width: 48em) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .vista{
        display: flex;
        flex-direction: column;
        margin-left: 15%;
        max-width: 70%;
    }
}
